.dropdown:hover > #cart-dropdown{
    display: block;
}


body{
    background-color: #CDCCF9
}


.container {
    background: #fff;
    width: 540px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px
    rgba(119,119,119.5);
    border-radius: 15px;
    flex-direction: space-evenly;
}

.test{
    color: black;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.title{

    
}