#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
    display: flex;
    justify-content: center;
}
.qty {
    width: 50px;
    height: 45px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myquantity{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
input.qtyplus { width:50px; height:70px;}
input.qtyminus { width:50px; height:70px;}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
  }
  
  .button:hover {
    background: #CDCCF9;
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
 

.choose{
  font-size: 1.2em;
    font-weight: 700;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.choice{
  font-size: 1.2em;
    font-weight: 200;
    margin: 35px;
    align-items: center;
}

.add{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease
}

.add:hover {
  background: #CDCCF9;
  
}

.fill-one {
  background: snow;
}

.fill-two {
  background: snow;
}

.modal{
  display: none;
  position: fixed;
  padding: 20px;
  left: 50%;
  top: 50%;
  overflow: auto;
  background-color: white;
  transform: translate(-50%,-50%);
  box-shadow: 0 4px 8px black;
  height: 600px;
  width: 700px;

}

span {
  cursor: pointer;
}

